.main-content {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
  transition: filter 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  iframe {
    width: calc(100% - 24px );
    height: calc(100% - 24px );
    display: block;
    border: none;
    border-bottom: 12px solid #BBEA00;
  }
}


