.main-content {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
  transition: filter 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  iframe {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
  }
}


